/* This file is a mess.
 * I say this every night,
 * every day,
 * every afternoon,
 * and it's so true:
 * THIS FILE IS A MESS.
 *
 * This file is the weakest file in
 * directory this by far */

body {
	margin: 5% auto;
	max-width: 54em;
	padding: 0 1em;
	text-align: justify;
	text-rendering: optimizeLegibility;
	hyphens: auto;
	line-height: 1.4;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }
ul#grid a > img { opacity: 0.5; }
ul#grid a:hover > img { opacity: 1; }

blockquote{ font-style: italic; }
table { margin: auto; }

hr{ border-style: solid; border-width: 1px 0 0 0; }

u {
	color: inherit;
	opacity: 0.33333;
	text-decoration: none;
}
u::before { content: "["; }
u::after { content: "]"; }

/* ARTICLE */

#content h1, article h1 { font-size: 150%; line-height: 130%; }
#content h2, article h2 { font-size: 125%; }
#content h3, article h3 { font-size: 115%; }
#content h4, article h4 { font-size: 110%; }
#content h5, article h5 { font-size: 105%; }
#content h6, article h6 { font-size: 103%; }

article *:first-child { margin-top: 0; max-width: 100%;}
article ul { padding-left: 1.75em; }

article ul#grid {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0 auto;
}

article ul#grid li {
	list-style: none;
	padding: 4px;
	max-width: 150px;
	flex-basis: 150px;
	font-size: smaller;
	margin: 4px auto;
}

article ul#grid li p,
article ul#grid li h2 {
	margin: 0 0 2px 0;
}

article ul#grid li h2 {
	font-size: small;
	text-align: center;
}

article ul#grid li img {
	border: 1px solid gray;
	margin: 4px;
	margin: auto;
	display: block;
}

article pre {
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	margin: 1em;
	padding: 1em;
}

/* ASIDE */

aside {
	font-size: small;
	padding: 1em;
	margin: 0 0 1em 1em;
	float: right;
	border-style: solid;
	border-width: 0 0 0 1px;
}


aside > img[alt=me] {
	padding: 0;
	margin: 4px -1em;
	border-width: 0;
	border-style: solid;
	display: block;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

aside > h1 {
	font-size: inherit;
	margin: 0;
	padding-bottom: 8px;
}

aside > ul {
	list-style: lower-greek;
	padding: 4px 0 0em 1.5em;
	margin: 0;
}

/* mobile screen */
@media (max-width: 770px) {
	body { margin: 1em 0 0 0; padding: 1em 1em 0 1em; overflow-x: hidden; }
	aside {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-width: none;
		text-align: center;
		overflow-x: auto;
		float: none;
		margin: 0 0 0.75em 0;
		font-size: smaller;
		padding: 10px 0;
		border-width: 0 0 1px 0;
	}
	aside > ul { margin: 0; margin-top: 4px; list-style: none; padding: 0;}
	aside > ul > li { display: inline; padding: 0.25em; }
	aside > img[alt=me] { display: none; }
	article { max-width: 90vw; margin-top: 2.6em; }
}

/* masto */
.mastodon-embed {
	max-width: 100%;
	width: 450px;
	min-height: 220px;
	display: block;
	margin: auto;
	border-radius: 4px;
	border: 1px solid black;
	box-shadow: 0 0 8px #888;
}

/* colors */
body, article ul#grid h2 { background: white; color: #222; }
a { color: #25D; }
blockquote { color: #223; }
article ul#grid a:hover { margin: unset; padding: unset; background: unset; }
aside, hr, aside > img[alt=me] { border-color: #48F; }
.subsection { color: #66A; }
article time#posted { color: #999; }
article pre { background: #f5f5f5; border-color: #ddd; }

/* fonts */
body { font-family: "Open Sans", "Noto Sans", "Liberation Sans", Helvetica, arial, sans-serif; }
code, kbd, tt, pre { font-family: "Noto Mono", "Liberation Mono", monospace, _; }
